@model Svr.Web.Models.DistrictsViewModels.CreateViewModel

@{
    ViewData["Title"] = "Регистрация нового района";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <h4>Зарегистрируйте новый район. Пример: г.Котовск</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                @*<input asp-for="Region" class="form-control" />*@
                @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as SelectList)
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Зарегистрировать</button>
            @*<div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

