@model Svr.Web.Models.ReportsViewModels.IndexViewModel
@{
    ViewData["Title"] = "Список отчетов";
}

<h4>@ViewData["Title"]</h4>

@Html.Partial("_StatusMessage", Model.StatusMessage)
<p>
    <a asp-action="InMemoryReport" asp-controller="Reports" class="btn btn-default">Создание отчета в памяти</a>
    <a asp-action="FileReport" asp-controller="Reports" class="btn btn-default">Создать файл отчета </a>
</p>

@Html.Partial("List", Model)


@*<fieldset style="margin-top: 15px">
       <legend>Upload an xlsx file</legend>
       <form method="post"
             asp-action="FileUpload"
             asp-controller="Home"
             enctype="multipart/form-data">
          <input type="file" name="file"  />
          <input type="submit" value="Upload" />
       </form>
    </fieldset>*@
@*<fieldset style="margin-top: 15px">
       <legend>Handling Blob Responses</legend>
       <button type="button" onclick="downloadBlob()">Ajax Download</button>
    </fieldset>*@
@*@section Scripts
    {
        <script type="text/javascript">
        function downloadBlob()
        {
            fetch('/Reports/InMemoryReport')
             .then(function(response) {
                 return response.blob();
             })
             .then(function(xlsxBlob) {
                 var a = document.createElement("a");
                 document.body.appendChild(a);
                 a.style = "display: none";
                 let url = window.URL.createObjectURL(xlsxBlob);
                 a.href = url;
                 a.download = "report.xlsx";
                 a.click();
                 window.URL.revokeObjectURL(url);
             });
        }
        </script>
    }*@