@model Svr.Web.Models.CategoryDisputesViewModels.FilterViewModel
<form method="get">
    <div class="form-group form-inline">
        <label class="control-label">Поиск: </label>
        @Html.TextBox("currentFilter", Model.SearchString, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>